@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Monoton|Orbitron|Permanent+Marker|Raleway|Teko');


$color1: #2d3436;
$color2: rgba( $color1, .7 );
$color3: white;
$nav-bg-color: lighten(black, 40%);
$nav-color: darken(#636e72, 40%);
$bg-color: adjust-hue($color: #636e72, $degrees: 0);
$space1: 10px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    background-image: url("../images/mountain.jpg");
    background-size: cover;
}

nav {
    // background-color: black;
    
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin: 0 20px;

            a {
                font-family: 'Teko', sans-serif;
                text-decoration: none;
                color: white;
                font-size: 35px;

            }

            current {

            }
        }
    }
}

main {
    // background-color: black;
    width: 100%;
    height: 600px;
    display: grid;
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 50px, 100%;
    grid-gap: 50px;

    textarea {
        resize: none;
        background-color: $color2;
        padding: 5px;
    }

    iframe {
        width: 100%;
        height: 100%;
        background-color: $color2;
    }
}

footer {
    width: 100%;
    background-color: $color1;
    height: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
}

