    <nav>
        <ul>
            <li>
                <a href="http://localhost:8080/">Logout</a>
            </li>
            <li>
                <a href="http://localhost:8080/code">Code</a>
            </li>
        </ul>
    </nav>