@import url('https://fonts.googleapis.com/css?family=Indie+Flower|Monoton|Orbitron|Permanent+Marker|Raleway|Teko');


$color1: #2d3436;
$color2: rgba( $color1, .7 );
$color3: white;
$nav-bg-color: lighten(black, 40%);
$nav-color: darken(#636e72, 40%);
$bg-color: adjust-hue($color: #636e72, $degrees: 0);
$space1: 10px;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-image: url("../images/mountain.jpg");
    background-size: cover;
}

nav {
    // background-color: black;
    
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul {
        list-style: none;

        li {
            display: inline-block;
            margin: 0 20px;

            a {
                font-family: 'Teko', sans-serif;
                text-decoration: none;
                color: white;
                font-size: 35px;

            }

        }
    }
}

form {
    width: 100%;
    height: 600px;
}

main {
    // background-color: black;
    width: 100%;
    height: 600px;
    display: grid;
    padding: 0 10px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 450px 150px;
    grid-gap: 50px;

    textarea {
        resize: none;
        background-color: $color2;
        padding: 5px;
        width: 100%;
        height: 100%;
    }

    iframe {
        width: 100%;
        height: 100%;
        background-color: $color2;
    }

    section {
        grid-row: 2;
        grid-column-start: 1;
        grid-column-end: -1;
        display: flex;
        justify-content: center;
        align-items: center;

        input {
            font-family: 'Teko', sans-serif;
            height: 40px;
            width: 100px;
            border-radius: 15px;
            border: 2px solid $color3;
            padding: 20px;
            font-size: 25px;
            line-height: 10px;
            width: 100px;
            height: 50px;
            overflow: hidden;
            margin-bottom: 100px;
            z-index: 1;
            cursor: pointer;
        }
    }
}

p {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 50px;
    padding: 20px;
    background-color: white;
}

footer {
    width: 100%;
    background-color: $color1;
    height: 40px;
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Teko', sans-serif;
}