@import url("https://fonts.googleapis.com/css?family=Indie+Flower|Monoton|Orbitron|Permanent+Marker|Raleway|Teko");
@import url("https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css");

body {
  background-image: url("../images/mountain.jpg");
  background-size: cover;
  padding-top:4.2rem;
}

.cus-login{
  max-width: 360px;
  background-color: #1b212c;
  color: white;
  vertical-align: middle;
}

.cus-input {
  background-color : whitesmoke;
  color: black;
}

.cus-modal{
  max-width: 400px;
  background-color: #1b212c;
  color: white;
}

.cus-modal-in{
  background-color: #364052;
  color: white;
}

footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  text-align: center;

}

/* The message box is shown when the user clicks on the password field */
#message {
  display:none;
  background: #f1f1f1;
  color: #000;
  position: relative;
  padding: 20px;
  margin-top: 10px;
}

#message p {
  padding: 5px 5px;
  font-size: 12px;
}

/* Add a green text color and a checkmark when the requirements are right */
.valid {
  color: green;
}

.valid:before {
  position: relative;
  left: -30px;
  content: "✓";
}

/* Add a red text color and an "x" icon when the requirements are wrong */
.invalid {
  color: red;
}

.invalid:before {
  position: relative;
  left: -30px;
  content: "✘";
}

