<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home Page</title>

    <link rel="stylesheet" href="css/code.css">
</head>
<body onload = "display_code()">
    {{> nav}}
    <form method="POST" action="/code-save">
        <main>
                <input type="hidden" name="username" id="username" value={{username}} />
                <textarea type="text" name="data" id="input" onkeyup="display_code()" placeholder="Starting Typing Here">{{data}}</textarea>
        <iframe id="output">
            <html>
                <head></head>
                <body></body>
            </html>
        </iframe>
        <section>
            <input type="submit" value="Submit">
        </section>
        </main>
        
    </form>
    {{!-- <p>{{success}}</p> --}}
    {{> footer}}
</body>
<script src="js/code.js"></script>
</html>