<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Projects Page</title>

    <link rel="stylesheet" href="css/projects.css">
</head>
<body>
    {{!-- <nav>
        <ul>
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a href="code.html">Code</a>
            </li>
            <li>
                <a href="projects.html">Projects</a>
            </li>
        </ul>
    </nav> --}}
    {{> nav}}

    <main>

    </main>

    {{> footer}}

    {{!-- <footer>
        Copyright @ 2019
    </footer> --}}
</body>
<script src="js/projects.js"></script>
</html>